<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZ_Ng6VC3JgJunjeH9cdToLcYhGva_9Sw</string>
	<key>GCM_SENDER_ID</key>
	<string>519890091468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cibertech.SweaterShopProyec</string>
	<key>PROJECT_ID</key>
	<string>sweater-app-44bbb</string>
	<key>STORAGE_BUCKET</key>
	<string>sweater-app-44bbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519890091468:ios:268e9dc30713d84618f169</string>
</dict>
</plist>