<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBy4gJXqxs-WvRiUlzQDw5XNb1p5jp9WeU</string>
	<key>GCM_SENDER_ID</key>
	<string>1056033719925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cibertech</string>
	<key>PROJECT_ID</key>
	<string>app-moviles2</string>
	<key>STORAGE_BUCKET</key>
	<string>app-moviles2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056033719925:ios:22af54f34a6e92938b9a3c</string>
</dict>
</plist>